.header {
	width: 100%;
  height: 25rem;
	background-position: center;
  background-size: cover;
  border-radius: 4px 4px 0 0;
  color: white;
  position: relative;
}

.welcomeText {
  height: 100%;
}

.welcomeText h2 {
  position: absolute;
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #000000;
}

.welcomeText p {
  position: absolute;
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.calenderimg {
  margin-left: -35px;
  margin-top: 35px;
}

.sffont{
  /* font-family: 'Noto Sans'; */
  font-weight: 600;
  font-size: 25px;
  color: #000000;
}
.ticket {
  background: #EDEAEA;
  border-radius: 5px;
  display: inline-block;
  min-width: 300px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}
.ticket.light .ticket-body {
  border-color: #161616;
}
.ticket-head {
  background-color: #72CBE8;
  border-radius: 4px 4px 0 0;
  min-height: 10rem;
}
.ticket-head .from-to {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  z-index: 2;
}
.ticket-head .icon {
  display: inline-block;
  margin: 0 40px;
  transform: rotate(135deg) translate(25%, 25%);
}
.ticket-body {
  border-bottom: 1px dashed #000000;
  padding: 15px 45px;
  position: relative;
}
.ticket-body p {
  color: #A2A2A2;
  font-size: 12px;
}
.ticket-body .flight-info {
  margin-top: 15px;
}
.ticket-body .flight-date {
  font-size: 12px;
  margin-top: 15px;
}
.ticket-body:before,
.ticket-body:after {
  background-color: #FFFFFF;
  border-radius: 100%;
  content: "";
  height: 30px;
  position: absolute;
  top: 100%;
  width: 35px;
}
.ticket-body:before {
  left: 0;
  transform: translate(-70%, -45%);
}
.ticket-body:after {
  right: 0;
  transform: translate(70%, -45%);
}
.barcode {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 1px 0 0 1px,
		 5px 0 0 1px,
		 10px 0 0 1px,
		 11px 0 0 1px,
		 15px 0 0 1px,
		 18px 0 0 1px,
		 22px 0 0 1px,
		 23px 0 0 1px,
		 26px 0 0 1px,
		 30px 0 0 1px,
		 35px 0 0 1px,
		 37px 0 0 1px,
		 41px 0 0 1px,
		 44px 0 0 1px,
		 47px 0 0 1px,
		 51px 0 0 1px,
		 56px 0 0 1px,
		 59px 0 0 1px,
		 64px 0 0 1px,
		 68px 0 0 1px,
		 72px 0 0 1px,
		 74px 0 0 1px,
		 77px 0 0 1px,
		 81px 0 0 1px,
		 85px 0 0 1px,
		 88px 0 0 1px,
		 92px 0 0 1px,
		 95px 0 0 1px,
		 96px 0 0 1px,
		 97px 0 0 1px,
		 101px 0 0 1px,
		 105px 0 0 1px,
		 109px 0 0 1px,
		 110px 0 0 1px,
		 113px 0 0 1px,
		 116px 0 0 1px,
		 120px 0 0 1px,
		 123px 0 0 1px,
		 127px 0 0 1px,
		 130px 0 0 1px,
		 131px 0 0 1px,
		 134px 0 0 1px,
		 135px 0 0 1px,
		 138px 0 0 1px,
		 141px 0 0 1px,
		 144px 0 0 1px,
		 147px 0 0 1px,
		 148px 0 0 1px,
		 151px 0 0 1px,
		 155px 0 0 1px,
		 158px 0 0 1px,
		 162px 0 0 1px,
		 165px 0 0 1px,
		 168px 0 0 1px,
		 173px 0 0 1px,
		 176px 0 0 1px,
		 177px 0 0 1px,
		 180px 0 0 1px;
  display: inline-block;
  height: 30px;
  margin-right: 85px;
  margin-top: 25px;
  transform: translateX(-90px);
  width: 0;
}
.buttoncls {
  background: #72CBE8;
  border-radius: 5px;
  cursor: pointer;
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}
h4{
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #000000;
}
p{
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.085em;
  color: #949191;
}